<!-- 公版 -->
<!DOCTYPE html>
<html>
  <head>
    <title>投票系統</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- <%= flash[:notice] %> -->
  <!-- 只要有被印過一次，再重新整理就會不見 -->
  <%= notice %>
  <!-- 特化（新rails） -->
    <%= yield %>
  </body>
</html>
